.card-img {
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
}

.count-field {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
}

.card-body-relative {
  position: relative;
  padding-bottom: 40px;
}

.management-section {
  display: none;
}

.management-card {
  margin-top: 20px;
}